@import url('https://fonts.google.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.google.com/css?family=Mv Boli:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.google.com/css?family=Quite Magical:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
section
{
	padding: 100px;
	min-height: 100vh;
}
.banner
{
	position: relative;
	min-height: 100vh;
	background: url(neon5.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner h2
{
	font-size: 5em;
	color: #fff;
	font-weight: 500;
	line-height: 1.5em;
}
.banner h2 span
{
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
}
.banner h3
{
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
}
.btn
{
	position: relative;
	background: #2196f3;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 35px;
	text-transform: uppercase;
	border-radius: 15px;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: 500;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex; justify-content: space-between; align-items: center;
	transition: 0.5s;
}
header.sticky
{
	background: #fff;
	padding: 20px 100px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
header .logo
{
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	font-family: Quite Magical;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}




header .logo
{
		position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%,-50%);
}




header.sticky .logo
{
	color: #111;
}
header ul
{
	position: relative;
	display: flex;
}

header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	display: inline-block;
	margin: 0 15px;
    color: yellow;
	text-decoration: none;
}
header.sticky ul li a
{
	color: #111;
}


header ul li a
{
	font-size: 35px;
}


.about .content
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}



.about .rav
{
	position: absolute;
	margin-right: 5%;
	margin-left: -5%;
}




.about .content .textBx
{
	min-width: 49%;
	width: 49%;
	font-size: 30px;
	text-align: justify;
}


.about .content .textBx p
{
	color: #000;
}
.about .content .textBx p
{
	text-decoration: none;
}

.about .content .textBx
{
	min-height: 100%
}

.about .content .imgBx
{
	margin-top: -50px;
	margin-left: 20px;
	margin-right: -80px;
}



.about .content .imgBx img
{
	max-width: 100%;
}



.w50
{
	min-width: 50%;
}
img
{
	max-width: 100%;
}



.title
{
	width: 100%;
	text-align: center;
}
.title h2
{
	position: relative;
	color: #00ffff;
	font-size: 3.5em;
	font-weight: 700;
	letter-spacing: 1px;
}
.title p
{
	display: inline-block;
}
.title h2::before
{
	content: '';
	position: absolute;
	left: 50%
	transform: translate(-50%);
	bottom: -5px;
	width: 250px;
	height: 4px;
	background: #000;
}












.work
{
	position: relative;
	min-height: 100vh;
	background: url(robo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgba(248,247,216,0.7);
}














.work .title p
{
	font-size: 50px;
}
.work .imgBx .textBx
{
	font-size: 2em;
}


.textBx h3
{
	color: green;
	font-family: Mv Boli;
}



.title .content
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}


.contact
{
	background: #000;
	display: flex;
	justify-content: center;
	align-items: top;
}

.label
{
	width: 100%;
	text-align: center;
}
.label h2
{
	position: relative;
	color: #fff;
	font-size: 4.5em;
	font-weight: 700;
	letter-spacing: 1px;
}
.label h2::before
{
	content: '';
	position: absolute;
	left: 50%
	transform: translate(-50%);
	bottom: -5px;
	width: 300px;
	height: 4px;
	background: #fff;
}
.contact .label h3
{
	color: #fff;
	text-decoration: none;
	font-size: 50px;
	letter-spacing: 2px;
	justify-content: justify;
}
.contact .label h3 a
{
	color: #fff;
	text-decoration: none;
}
.text .foot
{
	padding: 0;
	margin: 0;
	background-color: black;
	text-decoration: none;
}
.text .foot h1
{
	color: #808080;
	text-align: center;
	font-size: 30px;
	text-decoration: none;

}









.work .title
{
	margin-top: 400px;
}

.work .title .artbx h3
{
	position: center;
	font-family: mv Boli;
	color: #39ff14;
	font-size: 50px;
	margin-top: -50px;
}










.atbn
{
	position: relative;
	display: inline-block;
	color: green;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
}


.atbn
{
	position: absolute;

	transform: translate(-50%,-50%);
}


z:nth-child(1)
{
	filter: hue-rotate(290deg);
}
z:nth-child(3)
{
	filter: hue-rotate(110deg);
}



z:hover
{
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4,
	            0 0 25px #03e9f4,
	            0 0 50px #03e9f4,
	            0 0 200px #03e9f4,
}
z span
{
	position: absolute;
	display: block;
}

z
{
	position: relative;
	display: inline-block;
	padding: 25px 30px;
	margin: 41px 0;
	color: #03e9f4;
	font-size: 40px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	letter-spacing: 4px;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}
z span:nth-child(1)
{
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#03e9f4);
	animation: animate1 1s linear infinite;
	animation-delay: 0s;
}
@keyframes animate1
{
	0%
	{
		left: -100%;
	}
	50%,100%
	{
		left: 100%;
	}
}
z span:nth-child(2)
{
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,#03e9f4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}
@keyframes animate2
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top: 100%;
	}
}
z span:nth-child(3)
{
	bottom: 0;
	right:-100%;
	width: 100px;
	height: 2px;
	background: linear-gradient(270deg,transparent,#03e9f4);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right: 100%;
	}
}
z span:nth-child(4)
{
	bottom: -100;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#03e9f4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}
@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom: 100%;
	}
}

