@import url('https://fonts.google.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.google.com/css?family=Mv Boli:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.google.com/css?family=Quite Magical:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
section
{
	padding: 100px;
	min-height: 100vh;
}
.banner
{
	position: relative;
	min-height: 100vh;
	background: url(neon5.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner h2
{
	font-size: 5em;
	color: #fff;
	font-weight: 500;
	line-height: 1.5em;
}
.banner h2 span
{
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
}
.banner h3
{
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
}
.btn
{
	position: relative;
	background: #2196f3;
	display: inline-block;
	color: #fff;
	margin-top: 20px;
	padding: 10px 30px;
	font-size: 35px;
	text-transform: uppercase;
	border-radius: 15px;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: 500;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex; justify-content: space-between; align-items: center;
	transition: 0.5s;
}
header.sticky
{
	background: #fff;
	padding: 30px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header .logo
{
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	font-family: Quite Magical;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}




header .logo
{
		position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%,-50%);
}




header.sticky .logo
{
	color: #111;
}
header ul
{
	position: relative;
	display: flex;
}

header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	display: inline-block;
	margin: 0 15px;
    color: yellow;
	text-decoration: none;
}
header.sticky ul li a
{
	color: #111;
}


header ul li a
{
	font-size: 35px;
}


.about .content
{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}



.about .rav
{
	position: absolute;
	margin-right: 5%;
	margin-left: -5%;
}




.about .content .textBx
{
	min-width: 49%;
	width: 49%;
	font-size: 30px;
	text-align: justify;
}


.about .content .textBx p
{
	color: #000;
}
.about .content .textBx p
{
	text-decoration: none;
}

.about .content .textBx
{
	min-height: 100%
}

.about .content .imgBx
{
	margin-top: -50px;
	margin-left: 20px;
	margin-right: -80px;
}



.about .content .imgBx img
{
	max-width: 100%;
}



.w50
{
	min-width: 50%;
}
img
{
	max-width: 100%;
}



.title
{
	width: 100%;
	text-align: center;
}
.title h2
{
	position: relative;
	color: #00bcd4;
	font-size: 3.5em;
	font-weight: 700;
	letter-spacing: 1px;
}
.title p
{
	display: inline-block;
}
.title h2::before
{
	content: '';
	position: absolute;
	left: 50%
	transform: translate(-50%);
	bottom: -5px;
	width: 250px;
	height: 4px;
	background: #000;
}
.work .title p
{
	font-size: 50px;
}
.work .imgBx .textBx
{
	font-size: 2em;
}


.textBx h3
{
	color: green;
	font-family: Mv Boli;
}



.title .content
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}


.contact
{
	background: #000;
	display: flex;
	justify-content: center;
	align-items: top;
}

.label
{
	width: 100%;
	text-align: center;
}
.label h2
{
	position: relative;
	color: #fff;
	font-size: 4.5em;
	font-weight: 700;
	letter-spacing: 1px;
}
.label h2::before
{
	content: '';
	position: absolute;
	left: 50%
	transform: translate(-50%);
	bottom: -5px;
	width: 310px;
	height: 4px;
	background: #fff;
}
.contact .label h3
{
	color: #fff;
	text-decoration: none;
	font-size: 50px;
	letter-spacing: 2px;
	justify-content: justify;
}
.contact .label h3 a
{
	color: #fff;
	text-decoration: none;
}
.label h2 a
{
	color: yellow;
}
.text .foot
{
	padding: 0;
	margin: 0;
	background-color: black;
}
.text .foot h1
{
	color: #808080;
	text-align: center;
}
