*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}



body {
  margin: 0;
}






header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 1000;
  display: flex; justify-content: space-between; align-items: center;
  transition: 0.5s;
}
header.sticky
{
  background: #fff;
  padding: 20px 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
header .logo
{
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
  font-family: Quite Magical;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}




header .logo
{
    position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);
}




header.sticky .logo
{
  color: #111;
}
header ul
{
  position: relative;
  display: flex;
}

header ul li
{
  position: relative;
  list-style: none;
}
header ul li a
{
  position: relative;
  display: inline-block;
  margin: 0 10px;
    color: yellow;
  text-decoration: none;
}
header.sticky ul li a
{
  color: #111;
}


header ul li a
{
  font-size: 40px;
}













h2 u
{
  color: white;
  font-family: Quite Magical;
  font-size: 50px;
}

p
{
  color: white;
  font-family: Mv Boli;
  font-size: 30px;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.container {
  position: relative;
  display: none;
}


#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}


.closebtn {
  position: absolute;
  top: 25px;
  right: 40px;
  color: yellow;
  font-size: 50px;
  cursor: pointer;
}


.text .foot
{
  padding: 0;
  margin: 0;
  background-color: black;
}
.text .foot h1
{
  color: #808080;
  text-align: center;
  font-size: 20px;
}
